<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.ArtVerse">
        <activity
            android:name=".PoetryMomentsActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityActivity"
            android:exported="true"></activity>
    </application>

</manifest>