<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.ArtVerse">
        <activity
            android:name=".view.activity.FenLeiActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.CDActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MusicActivity"
            android:exported="true" />
    </application>

</manifest>